src/main/webapp/WEB-INF/ws/xsd/utilTypes/import/standartResponses_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://iit.ru/xsd/utilTypes/import/standartResponses_v1_0"
	xmlns:resp="http://iit.ru/xsd/utilTypes/import/standartResponses_v1_0">
	<complexType name="FormCreateResponse">
		<sequence>
			<element name="code" type="int" maxOccurs="1" minOccurs="1" />
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="docid" type="long" maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>
	<element name="formCreateResponse" type="resp:FormCreateResponse"></element>
</schema>